media.thenairn.com {
    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    basicauth / admin nairnnairn

    proxy / fileserver:8080

    redir /transmission/ /transmission/web/
    proxy /transmission transmission:9091

    proxy /radarr radarr:7878
    proxy /sonarr sonarr:8989
    proxy /jackett jackett:9117
    proxy /portainer portainer:9000
}