media.thenairn.com {
    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    proxy / organizr:8443 {
        transparent
    }
}

files.thenairn.com {
    basicauth / admin nairnnairn
    proxy / fileserver:8080 {
        transparent
    }
}

transmission.thenairn.com {
    proxy / transmission:9091
}

radarr.thenairn.com {
    proxy / radarr:7878 {
        transparent
    }
}

jackett.thenairn.com {
    proxy / jackett:9117 {
	    transparent
    }
}

sonarr.thenairn.com {
    proxy / sonarr:8989 {
	    transparent
    }
}

portainer.thenairn.com {
    proxy / portainer:9000 {
	    transparent
    }
}

plex.thenairn.com {
    gzip

    log /root/.caddy/logs/plexaccess.log {
        rotate_size 1          # Rotate after 1 MB
        rotate_age  7          # Keep log files for 7 days
        rotate_keep 2          # Keep at most 2 log files
    }
    
    errors /root/.caddy/logs/plexerror.log {
        rotate_size 1          # Set max size 1 MB
        rotate_age  7          # Keep log files for 7 days
        rotate_keep 2          # Keep at most 2 log files
    }

    proxy / plex:32400 {
        transparent
    }
}