# Organizr groups
# auth_request /auth-0;   #=Admin
# auth_request /auth-1;   #=Co-Admin 
# auth_request /auth-2;   #=Super User 
# auth_request /auth-3;   #=Power User 
# auth_request /auth-4;   #=User
# auth_request /auth-998; #=Logged In
# auth_request /auth-999; #=Guest


media.thenairn.com {

    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    proxy / organizr {
        transparent
    }

    proxy /netdata/ netdata:19999 {
        without /netdata/
    }

    redir /plex /plex/ 301
    proxy /plex/ plex:32400 {
	    transparent
    }

}


playground.thenairn.com {

    redir 301 {
        if {>X-Forwarded-Proto} is http
        /  https://{host}{uri}
    }

    root /Playground

}

unraid.thenairn.com {

    reauth {
        path /
        except /share
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=1,cookies=true
	}

    proxy / host:6059 {
        websocket
        transparent
    }
}

*.code.thenairn.com {

    tls { 
        max_certs 20
        ask https://www.google.com
    }

    proxy / vscode:8443 {
        websocket
        transparent
    }

}

code.thenairn.com {

    reauth {
        path /
        except /share
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=1,cookies=true
	}

    proxy / vscode:8443 {
        websocket
        transparent
    }
}

download.thenairn.com {

    reauth {
        path /
        except /share
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / download:80 {
        transparent
    }
}

admin.thenairn.com {

    reauth {
        path /
        except /share
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=1,cookies=true
	}

    proxy / admin:80 {
        transparent
    }
}

transmission.thenairn.com {
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / vpn:9091
}

webtransmission.thenairn.com {

    basicauth / user {$TRANSMISSION_PASSWORD}

    proxy / vpn:9091
}

tautulli.thenairn.com {
        
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=1,cookies=true
	}

    proxy / tautulli:8181
}


radarr.thenairn.com {
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / radarr:7878 {
        transparent
    }
}

jackett.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}
    
    proxy / vpn:9117 {
	    transparent
    }
}

sonarr.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / sonarr:8989 {
	    transparent
    }
}

plex.thenairn.com {
    
    gzip
    proxy / plex:32400 {
        transparent
    }
}

portainer.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=2,cookies=true
	}

    proxy / portainer:9000 {
	    transparent
        header_downstream -X-Frame-Options
    }
}

bazarr.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / bazarr:6767 {
	    transparent
    }
}

books.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / lazylibrarian:5299 {
	    transparent
    }
}

library.thenairn.com {    
    
    reauth {
        path /  
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / calibre:8080 {
	    transparent
    }
}

netdata.thenairn.com {    
    
    reauth {
        path /  
        except /api/v1/badge.svg
        failure redirect target=https://media.thenairn.com
        upstream url=https://media.thenairn.com/api/?v1/auth&group=3,cookies=true
	}

    proxy / netdata:19999 {
	    transparent
    }
}

monica.thenairn.com {

    proxy / monica:80 {
        websocket
        transparent
    }

}
